{
  "printWidth": 120,
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["src/constants/**/*.ts", "src/locales/*.json", "src/assets/data/**/*.ts"],
      "options": {
        "printWidth": 300
      }
    }
  ]
}
