rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isLoggedIn() {
      return request.auth.uid != null
    }

    function isOwner(uid) {
      return request.auth.uid == uid
    }

    function isCorrectFile() {
			// only mime type image/* with max size = 5mb
			return
        request.resource.size < 5 * 1024 * 1024 &&
        request.resource.contentType.matches('image/.*');
    }

    match /users_items/user/{uid}/{allPaths=**} {
    	allow read: if isLoggedIn() && isOwner(uid);
      allow write: if isLoggedIn() && isOwner(uid) && isCorrectFile();
    }
  }
}
