/* roboto-300 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('@/assets/fonts/roboto/roboto-v30-cyrillic_latin-300.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url('@/assets/fonts/roboto/roboto-v30-cyrillic_latin-300.woff')
      format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
/* roboto-regular - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/roboto/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url('@/assets/fonts/roboto/roboto-v30-cyrillic_latin-regular.woff')
      format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
/* roboto-500 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/roboto/roboto-v30-cyrillic_latin-500.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url('@/assets/fonts/roboto/roboto-v30-cyrillic_latin-500.woff')
      format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}
/* roboto-700 - cyrillic_latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('@/assets/fonts/roboto/roboto-v30-cyrillic_latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url('@/assets/fonts/roboto/roboto-v30-cyrillic_latin-700.woff')
      format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
}

html,
body,
#app {
  height: 100%;
}

body {
  min-width: 320px;
  max-width: 1920px;
}

.text-brand {
  color: $brand !important;
}

.bg-brand {
  background: $brand !important;
}

.link-light:link {
  color: rgb(255, 255, 255);
}

.link-light:visited {
  color: rgb(255, 255, 255);
}
