html,
body,
#app {
  height: 100%;
}

body {
  min-width: 320px;
  max-width: 1920px;
}

.text-brand {
  color: $brand !important;
}

.bg-brand {
  background: $brand !important;
}

.link-light:link {
  color: rgb(255, 255, 255);
}

.link-light:visited {
  color: rgb(255, 255, 255);
}
