$primary: #027be3;
$secondary: #26a69a;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

@import '~quasar-variables-styl';

@mixin media-small {
  @media (min-width: $breakpoint-sm-min) {
    @content;
  }
}

@mixin media-medium {
  @media (min-width: $breakpoint-md-min) {
    @content;
  }
}

@mixin media-large {
  @media (min-width: $breakpoint-lg-min) {
    @content;
  }
}

@mixin media-maximum {
  @media (min-width: $breakpoint-xl-min) {
    @content;
  }
}
