button,
.button-link {
  position: relative;
  display: inline-flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
  min-height: 2.5rem;
  padding-block: 4px;
  padding-inline: 16px;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  outline: 0;
  background: transparent;
  border: none;
  border-radius: 4px;
  transition:
    background 0.2s ease,
    border-color 0.2s ease,
    transform 0.1s ease,
    padding 0.5s ease,
    opacity 0.5s ease;
  -webkit-tap-highlight-color: transparent;
  &:disabled {
    pointer-events: none;
  }
  &.hidden {
    visibility: hidden;
  }
  & > * + svg {
    width: 1.715em;
    height: 1.715em;
  }
  svg {
    color: inherit;
  }
}
.button-link {
  color: var(--color-text);
  text-decoration: none;
}
.button-link--disabled {
  color: var(--color-text-muted);
  pointer-events: none;
  cursor: default;
}
.button-primary {
  color: oklch(0% 0 0deg);
  background-color: var(--color-primary);
  &:hover {
    background-color: var(--color-primary-hover);
  }
  &:active {
    background-color: var(--color-primary-active);
  }
  &:disabled {
    background-color: var(--color-primary-disabled);
  }
}
.button-secondary {
  color: var(--color-text);
  background: transparent;
  border: 1px solid var(--color-border);
  &:hover {
    background: var(--color-surface-background);
    border-color: var(--color-text);
  }
}
.button-success {
  color: oklch(100% 0 0deg);
  background: var(--color-success);
  &:hover {
    background: var(--color-success-hover);
  }
  &:active {
    background-color: var(--color-success-active);
  }
  &:disabled {
    background-color: var(--color-success-disabled);
  }
}
.button-warning {
  color: oklch(100% 0 0deg);
  background: var(--color-warning);
  &:hover {
    background: var(--warning-hover);
  }
  &:active {
    background-color: var(--color-warning-active);
  }
  &:disabled {
    background-color: var(--color-warning-disabled);
  }
}
.button-error {
  color: oklch(100% 0 0deg);
  background: var(--color-error);
  &:hover {
    background: var(--color-error-hover);
  }
  &:active {
    background-color: var(--color-error-active);
  }
  &:disabled {
    background-color: var(--color-danger-disabled);
  }
}
.button-ghost {
  color: var(--color-text);
  background: transparent;
  &:hover {
    background: oklch(0% 0 0deg / 5%);
  }
}
.icon-button {
  min-height: initial;
  padding: 0;
}
.icon-button--medium {
  width: var(--icon-button-medium-size);
  height: var(--icon-button-medium-size);
  svg {
    width: calc(var(--icon-button-medium-size) - 1rem);
    height: calc(var(--icon-button-medium-size) - 1rem);
  }
}
.icon-button--large {
  width: var(--icon-button-large-size);
  height: var(--icon-button-large-size);
  svg {
    width: calc(var(--icon-button-large-size) - 1rem);
    height: calc(var(--icon-button-large-size) - 1rem);
  }
}
