*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  @media (prefers-color-scheme: light) {
    --color-primary: oklch(80% 0.1099 243deg);
    --color-primary-hover: oklch(74.42% 0.1267 242deg);
    --color-primary-active: oklch(69.51% 0.1408 244deg);
    --color-primary-disabled: oklch(91.5% 0.045 243deg);
    --color-success: oklch(73.46% 0.1442 158deg);
    --color-success-hover: oklch(68.61% 0.1425 158deg);
    --color-success-active: oklch(64.41% 0.1395 157deg);
    --color-success-disabled: oklch(89.08% 0.0595 163deg);
    --color-warning: oklch(81.97% 0.1413 79deg);
    --color-warning-hover: oklch(77.67% 0.1447 78deg);
    --color-warning-active: oklch(72.96% 0.1412 77deg);
    --color-warning-disabled: oklch(91.14% 0.0747 86deg);
    --color-error: oklch(68.39% 0.1691 16deg);
    --color-error-hover: oklch(64.34% 0.1817 17deg);
    --color-error-active: oklch(60.22% 0.1857 18deg);
    --color-error-disabled: oklch(84.01% 0.0712 11deg);
    --color-text: oklch(24.3% 0.024 249deg);
    --color-text-secondary: oklch(48.5% 0.026 249deg);
    --color-text-muted: oklch(65.5% 0.02 249deg);
    --color-surface-background: oklch(98.34% 0.0042 236deg);
    --color-surface-background-secondary: oklch(95.8% 0.007 240deg);
    --color-border: oklch(89.5% 0.012 240deg);
    --color-background: oklch(98.34% 0.0042 236deg);
  }
  @media (prefers-color-scheme: dark) {
    --color-primary: oklch(80% 0.1099 243deg);
    --color-primary-hover: oklch(84% 0.095 241deg);
    --color-primary-active: oklch(87% 0.08 240deg);
    --color-primary-disabled: oklch(40% 0.055 243deg);
    --color-success: oklch(76% 0.145 158deg);
    --color-success-hover: oklch(80% 0.135 158deg);
    --color-success-active: oklch(83% 0.12 158deg);
    --color-success-disabled: oklch(38% 0.06 158deg);
    --color-warning: oklch(82% 0.145 79deg);
    --color-warning-hover: oklch(86% 0.13 79deg);
    --color-warning-active: oklch(89% 0.11 79deg);
    --color-warning-disabled: oklch(40% 0.065 79deg);
    --color-error: oklch(70% 0.175 16deg);
    --color-error-hover: oklch(75% 0.165 16deg);
    --color-error-active: oklch(79% 0.145 16deg);
    --color-error-disabled: oklch(38% 0.07 16deg);
    --color-text: oklch(94% 0.01 245deg);
    --color-text-secondary: oklch(76% 0.018 245deg);
    --color-text-muted: oklch(58% 0.02 245deg);
    --color-background: oklch(17.73% 0.0089 264.32deg);
    --color-surface-background: oklch(18.5% 0.018 250deg);
    --color-surface-background-secondary: oklch(22.5% 0.02 250deg);
    --color-border: oklch(31% 0.022 250deg);
  }

  --min-device-width: 320px;
  --icon-button-medium-size: 3rem;
  --icon-button-large-size: 4rem;
  --navigation-header-padding-top: env(safe-area-inset-top);
  --navigation-header-height: 36px;
  --header-height: calc(var(--navigation-header-padding-top) + var(--navigation-header-height));
  --content-padding-inline: 0.5rem;
  --content-padding-block: 0.5rem;
  --bottom-safe-area: env(safe-area-inset-bottom);
}
html {
  min-height: calc(100dvh - var(--bottom-safe-area));
  padding-bottom: var(--bottom-safe-area);
  color: var(--color-text);
  accent-color: var(--color-primary);
  background-color: var(--color-background);
}
body {
  min-width: var(--min-device-width);
  max-width: 3840px;
  min-height: inherit;
  margin: 0;
  font-family:
    Roboto,
    -apple-system,
    'Helvetica Neue',
    Helvetica,
    Arial,
    sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}
main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-height: inherit;
  > section {
    flex: 1;
  }
}
#app {
  min-height: inherit;
  &:has(.navigation-header) main {
    padding-top: var(--header-height);
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.color-success {
  color: var(--color-success);
}
.color-error {
  color: var(--color-error);
}
.tabular-num {
  font-weight: 700;
  font-variant-numeric: tabular-nums;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
}
h1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 6rem;
}
h2 {
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 3.75rem;
}
.color-primary {
  color: var(--color-primary);
}
[class$='-page'] {
  padding-block: var(--content-padding-block);
  padding-inline: var(--content-padding-inline);
}
.background-gradient {
  color: oklch(94% 0.01 245deg);
  background: linear-gradient(
    135deg,
    oklch(50.34% 0.1439 147.6deg) 0%,
    oklch(34.25% 0.1736 301.49deg) 50%,
    oklch(50.34% 0.1439 147.6deg) 100%
  );
}
a {
  -webkit-tap-highlight-color: transparent;
  color: var(--color-primary);
}
